# Environment variables (root, frontend, backend, e2e, anywhere)
.env
.env.*
**/.env
**/.env.*

# Node dependencies (any folder, any depth)
node_modules/
**/node_modules/

# Logs
*.log
**/*.log

# OS files
.DS_Store
**/.DS_Store

# Build outputs
dist/
**/dist/
build/
**/build/

# Zip files
*.zip
**/*.zip

# Coverage Meter
coverage/

# Copypaste Chunk Files
copypaste/